body {
  font: 400 18px/1.45 $Gilroy;
  color: $blue;
}


html {
  font-size: .7810vw;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.main_button {
  width: 100%;
  max-width: 180px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $red;
  border-radius: 50px;
  cursor: pointer;
  transition: box-shadow $time;

  &:hover {
    box-shadow: 5px 10px 20px rgba(237, 28, 22, 0.8);
  }

  span {
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
}


.section_title {
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: $red;
  width: 100%;
  max-width: 818px;
  margin: 0 auto 20px;
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(60%);
    content: url("/img/title-line.svg");
    height: auto;
  }
}

.section_description {
  width: 100%;
  max-width: 560px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $blue;
  margin: 0 auto 20px;

  span {
    font-weight: 800;
  }
}