/*Start header block*/
.header_main {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;

  .header_main--logo {
    width: 86px;
    height: auto;
    margin-top: 84px;
  }
}

/*End header block*/


/*Start first screen block*/
.first_screen {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 4;
  }

  .first_screen--title {
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    width: 100%;
    max-width: 657px;
    margin-bottom: 26px;
  }

  .first_screen--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000000;
      opacity: 0.6;
      content: '';
      z-index: 2;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(270deg, #ED1C16 0%, #000000 100%);
      mix-blend-mode: screen;
      opacity: 0.5;
      content: '';
      z-index: 2;
    }
  }
}

/*End first screen block*/


/*Start about block*/
.about {
  position: relative;
  padding: 90px 0 107px;
  overflow: hidden;

  .circle_about--top {
    position: absolute;
    top: 0;
    left: 20%;
  }

  .circle_about--bottom {
    position: absolute;
    bottom: 0;
    right: 18%;
  }

  .section_title {
    margin-bottom: 40px;
  }

  .section_description {
    margin-bottom: 90px;
  }

  .about_text {
    position: relative;
    width: 100%;
    max-width: 753px;
    margin: 0 auto;

    &:before {
      position: absolute;
      top: -52px;
      left: -53px;
      content: url("/img/about-line.svg");
      z-index: 1;
    }

    p {
      position: relative;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      color: #112748;
      margin-bottom: 38px;
      z-index: 2;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-weight: 800;
      }
    }
  }
}

/*End about block*/


/*Start presentation block*/
.presentation {
  position: relative;
  padding: 90px 0 169px;
  overflow: hidden;

  .circle_video--top {
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 192px;
  }

  .circle_video--bottom {
    position: absolute;
    z-index: 1;
    left: 17%;
    bottom: 53px;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .section_title {
    margin-bottom: 145px;
  }

  .presentation_video {
    position: relative;
    width: 100%;
    max-width: 628px;
    height: 100%;
    margin: 0 auto;
    min-height: 323px;

    &.play {
      .presentation_video--poster {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }

    .presentation_video--poster {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
      transition: opacity $time, visibility $time;
      overflow: hidden;

      .poster--logo {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        width: 86px;
        height: auto;
      }

      .poster--play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 46px;
        height: auto;
        cursor: pointer;
      }

      .poster--bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
      }
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &:before {
      position: absolute;
      top: -45px;
      left: -45px;
      content: url("/img/video_line.svg");
    }

    &:after {
      position: absolute;
      bottom: -45px;
      right: -45px;
      content: url("/img/video_line.svg");
      transform: rotate(-180deg);
    }
  }
}

/*End presentation block*/


/*Start contact block*/
.contact {
  position: relative;
  padding: 90px 0 60px;

  .circle_contact--top {
    position: absolute;
    top: 250px;
    left: 23%;
    z-index: 1;
  }

  .circle_contact--bottom {
    position: absolute;
    bottom: 158px;
    right: 20%;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .section_title {
    margin-bottom: 40px;
  }

  .section_description {
    margin-bottom: 60px;
  }

  .contact_form {
    position: relative;
    width: 100%;
    max-width: 560px;
    padding: 43px 20px 31px;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px rgba($red, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    form {
      width: 100%;
      max-width: 300px;
      display: flex;
      align-items: center;
      flex-direction: column;

      input {
        border: 1px solid $red;
        border-radius: 50px;
        text-align: center;
        margin-bottom: 20px;
        height: 46px;
        width: 100%;
        font-weight: 800;
        font-size: 14px;

        &::placeholder {
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: $blue;
          opacity: 0.5;
        }
      }

      button {
        margin-top: 20px;
        border: none;
      }
    }
  }
}

.amoforms_iframe {
  max-height: 290px !important;
}

/*End contact block*/

.footer_main {
  position: relative;
  padding: 45px 0 38px;
  background: linear-gradient(90deg, #112748 0%, #742523 100%);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_main--logo {
    width: 86px;
    height: auto;
    margin-bottom: 26px;
  }

  .footer_main--info {
    text-align: center;
    width: 100%;
    max-width: 560px;

    span {
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #FFFFFF;
    }
  }
}