@media only screen and (orientation: portrait) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 16px;
  }
}


@media only screen and (max-width: 768px) {
  .first_screen .first_screen--bg img {
    left: -80%;
    width: 200%;
  }
}

@media only screen and (max-width: 460px) {
  .presentation, .about, .contact {
    padding-top: 50px;
    padding-bottom: 35px;
  }
  .presentation .section_title {
    margin-bottom: 60px;
  }

  .contact .section_description {
    margin-bottom: 20px;
  }
}


@media only screen and (max-width: 420px) {
  .first_screen .first_screen--title {
    font-size: 32px;
    line-height: initial;
  }
  .section_title {
    font-size: 26px;
  }
  .footer_main .footer_main--info span {
    font-size: 18px;
  }
  .first_screen .first_screen--title {
    font-size: 32px;
  }
}