<footer class="footer_main">
    <div class="container">
        <a href="#">
            <img src="/img/logo.png" alt="" class="footer_main--logo">
        </a>
        <div class="footer_main--info">
            <span>Живите в достатке с В2В Jewelry!</span>
        </div>
    </div>
</footer>
<script src="/dist/js/main.js"></script>