$urlPath: "../../";

$breakMobile: 768px;
$breakTablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$red: #ED1C16;
$blue: #112748;
/*fonts*/
$Gilroy: 'Gilroy';
/*effects*/
$time: .4s ease-in-out;